
name: Build Java OSGi bundles for use in Dawn

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  #push:
  #  branches: [ master ]
  #pull_request:
  #  branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 2
      matrix:
        PLAT: ["manylinux2010_x86_64", "manylinux2014_x86_64"]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Use docker image of Centos 6 or 7 with some devel packages as defined in PEP571 and PEP599
      - name: Make Linux bindings
        run: |
          docker run --rm -e="PLAT=${{ matrix.PLAT }}" -v $(pwd):/io quay.io/pypa/${{ matrix.PLAT }} /bin/bash /io/releng/build_manylinux_binding.sh

      - uses: actions/upload-artifact@v1
        with:
          name: cbflib-build
          path: dist/
